/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;900&display=swap');

/* Reset global para evitar cualquier scroll */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* src/index.css */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%; /* Cambiamos 100vw por 100% */
  max-width: 100%; /* Límite estricto */
  height: 100dvh;
  overflow-x: hidden; /* Asesina el scroll horizontal */
  overflow-y: hidden; /* Asesina el scroll vertical global */
  background-color: #0a0a0a;
}

body {
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}